Package: pushkey
Version: 1.1-1
Section: misc
Priority: extra
Architecture: all
Depends: bash (>= 4.0), openssh-client (>= 4.8), coreutils (>= 5.0-5) 
Maintainer: Al Biheiri <abiheiri@gmail.com>
Homepage: http://forgottheaddress.blogspot.com
Description: Designed to copy your ssh key to a specified host
 Copies ssh key to a specified host & also creates ssh key if non-existent
